*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: linear-gradient(to bottom right, #1b1b2f, #111927, #0D2847, #003362);
    color: white;
    font-family: "K2D", Noto Sans Grantha, sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Light Theme Styles */
body.light-theme {
    background: linear-gradient(to bottom right, #FBFDFF, #F4FAFF, #E6F4FE, #D5EFFF);
    color: #000000;
}

/* Root Variables */
:root {
    --text-color-light: #000000;
    --text-color-dark: #ffffff;
}

/* Navbar Styles */
.navbar-brand {
    font-size: 1.5rem;
    color: #f0f0f0;
    display: flex;
    align-items: center;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler-icon {
    background-color: white;
}

body.light-theme .navbar-brand {
    color: #000000;
}
    
body.light-theme .navbar-nav .nav-link {
    color: #000000;
}

.navbar-nav .nav-link {
    color: #f0f0f0;
}

/* Social icons Styles */
.social-icons {
    position: fixed;
    top: 50%;
    right: 20px; 
    bottom: 20px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}

body.light-theme .social-icons a {
    color: #000000;
}

body.light-theme .social-icons a:hover {
    color: #005080;
}

/* Theme Toggle Button */
.theme-toggle {
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    font-size: 1.2rem;
}
body.light-theme .theme-toggle i {
    color: #000000;
}

/* Hero Section Styles */
.hero-text h1 {
    font-size: 4rem;
    font-weight: bold;
}
.hero-text p {
    font-size: 1.2rem;
}

/* Image Styles */
.rounded-img {
    width: 380px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 10px;
}

/* Button Styles */
.btn-cv {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    outline: none;
}
.btn-cv:hover {
    background-color: #005080;
    color: #fff;
}
button:focus, a:focus {
    outline: 2px solid #ffcc00;
}

body.light-theme .btn-cv {
    background-color: #020F1C; 
    color: #fff; 
}
body.light-theme .btn-cv:hover {
    background-color: #fff; 
    color: #020F1C; 
}

/* Button contact Styles */
.btn-contact {
    background-color: #003362; 
    color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 30px; 
    border: none; 
    font-size: 1.2rem; 
    transition: background-color 0.3s ease; 
    margin-left: 10px; 
}

.btn-contact:hover {
    background-color: #005080;
}

body.light-theme .btn-contact {
    color: #ffffff;
}

/* Skills Section Styles */
.skills-section {
    margin-top: 50px;
}
.skill {
    background-color: #2e2e3b;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}
.skill i {
    margin-right: 8px;
}
body.light-theme .skill {
    background-color: #e0e0e0; 
    color: #000000;
}

/* Projects Section Styles */
.projects-section {
    margin-top: 50px;
}
.project {
    display: flex;
    align-items: flex-start; 
    background-color: #2e2e3b;
    color: #ffffff; 
    border-radius: 15px; 
    padding: 20px; 
    margin-bottom: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body.light-theme .project {
    background-color: #e0e0e0; 
    color: #000000;
}

.project h3 {
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 15px;
}

.project ul {
    list-style-type: none; 
    padding: 0; 
    margin-top: 10px; 
}

.project li {
    background-color: #444; 
    color: #ffffff; 
    border-radius: 5px; 
    padding: 5px 10px; 
    margin-bottom: 5px; 
    display: inline-block; 
    margin-right: 5px;
}
.project a.btn-cv {
    margin-bottom: 10px; 
}

.project-text {
    flex: 1; 
    margin-right : 20px;
}

.project-image {
    width: 30%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}

/* About Section Styles */
.about-section {
    padding: 50px 0; 
    background-color: #111927; 
    color: #f0f0f0; 
}

.about-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

body.light-theme .about-section {
    background-color: #FBFDFF; 
    color: #000000; 
}

/* Contact Section Styles */

/* Container */
.contact-section {
    margin-top: 50px;
}

/* Left side - contact info */
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-card {
    background-color: #111927;
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

body.light-theme .contact-card {
    background-color: #FBFDFF; 
    color: #000000; 
}

.contact-card i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact-card h3 {
    margin: 0;
}

.contact-card p {
    font-size: 0.9rem;
    margin-top: 10px;
}

/* Footer Section Styles */
.footer {
    background-color: #111927; 
    color: #f0f0f0; 
    text-align: center; 
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top:40px;
}

.footer p {
    margin: 0;
    font-size: 1rem;
}

body.light-theme .footer {
    background-color: #FBFDFF; 
    color: #000000; 
}

/* Media Queries */
@media (max-width: 768px) {
    .project {
        flex-direction: column;
    }

    .rounded-img {
        width: 250px; 
    }

    .project-image {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }

    .social-icons {
        width: 120px;
        height: 48px;
        flex-direction: row;
        top: auto;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        justify-content: space-around;
        border-radius: 24px 24px 0 0;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 1px 10px;
    }
    body.light-theme .social-icons a {
        color: #fff; 
    }
}

@media (max-width: 576px) {
    .project-image {
        width: 100%; 
        margin-top: 10px; 
    }
    .hero-text h1 {
        font-size: 3rem;
        font-weight: bold;
    }
    .btn-contact {
        margin-top: 10px; 
    }

}